@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* config */
/* === colors ==== */
/* === fonts === */
body {
  background-color: #161616 !important;
  overflow-x: hidden;
}

.section-title:nth-child(1) {
  color: #fff;
  margin: 4em 2em;
  display: flex;
  justify-content: center;
}
.section-title:nth-child(1) h2 {
  font-family: "lato";
  font-weight: bold;
  position: relative;
  z-index: 0;
}
.section-title:nth-child(1) h2::before {
  content: "\f111";
  font-family: fontawesome;
  position: absolute;
  right: 70%;
  bottom: 0;
  top: -50%;
  z-index: -1;
  opacity: 0.1;
  font-size: 2em;
}

.navbar-collapse {
  justify-content: flex-end;
}

.navbar {
  border-bottom: 1px solid #1e1e1e;
  margin: 10px 0;
}
.navbar .email {
  color: #6d6d6d;
  font-family: "Tilt Neon";
}
.navbar .email .icon {
  margin: 0 7px;
  background-color: #1a1a1a;
  padding: 5px;
  border-radius: 50px;
  font-size: 13px;
  color: #cfcfcf;
}
.navbar .nav-top-right-items a {
  color: #6d6d6d;
  font-family: "Tilt Neon";
  margin: 0 10px;
  text-decoration: none;
}

.heading-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 10px 0px;
}
.heading-content .img img {
  width: 150px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  filter: grayscale(1);
}
.heading-content h2 {
  background: linear-gradient(90deg, rgb(207, 207, 207) 0%, rgb(231, 231, 231) 50%, rgb(93, 90, 90) 100%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Noto Sans";
  font-weight: bold;
  font-size: 5em;
  text-align: center;
}
.heading-content h6 {
  color: #cfcfcf;
  font-family: "Tilt Neon";
  margin: 10px 0px;
}
.heading-content .download {
  background-color: #1a1a1a;
  padding: 10px 20px;
  color: #cfcfcf;
  text-decoration: none;
  font-family: "Noto Sans";
  border: 1px solid #1e1e1e;
  margin: 10px 0px;
}

.heading-social {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 1em 0;
  background-color: #1a1a1a;
  opacity: 0.8;
  background-image: radial-gradient(#5f5c5c 0.5px, transparent 0.5px), radial-gradient(#5f5c5c 0.5px, #1a1a1a 0.5px);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
  padding: 5em 0;
  /*.scroll{
      flex: 1;
      display: flex;
      justify-content: center;
      .scroll-btn{
          border: 1px solid $milky;
          border-radius: 50%;
          height: 100px;
          width: 100px;
          text-align: center;
          padding: 35px;
          a{
              font-size: 1.2em;
              color: $milky;
              font-weight: 100;

          }
     }
  }*/
  /*.follow{
   color: $milky;
   flex: 1;
   display: flex;
   justify-content: center;
   flex-direction: row;
   .icons{
       i{
           border-right: 2px solid $milky;
           padding: 0 15px;
           &:last-child{
              border-right: none;
           }
       }
   }
  }*/
  /*.quotes{
   display: flex;
   justify-content: center;
   flex: 1;
   flex-direction: column;
   blockquote{
       color: $milky;
       font-family: $font4;
       font-size: 1.2em;
       span{
           opacity: .5;
           font-size: 1em;
           font-size: $font4;
           font-weight: 100;
       }
   }
   .move{
       color: $milky;
       i{
           margin: 0 10px;
       }
   }
  }*/
}
.heading-social .items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.heading-social .items .data {
  color: #fff;
  font-size: 3em;
  font-weight: bold;
}
.heading-social .items .data-text {
  color: #fff;
  text-align: center;
  margin-top: -10px;
  font-family: "lato";
}

.About {
  color: #fff;
  margin: 4em 2em;
}
.About .about-content {
  margin: 2em;
  display: flex;
  justify-content: center;
  text-align: justify;
}
.About .about-content p {
  padding: 0 12em;
  font-size: 1.3em;
  font-family: "lato";
}

.Todo {
  padding: 0em 2em 0 5em;
  color: #fff;
  /* .items-row{
       margin: 2em 0;
       display: flex;
       flex-direction: row;

       .item{
           display: flex;
           flex-direction: row;
          // justify-content: space-around;
           align-items: center;
           .icon{
               display: flex;
              // padding: 25px 25px;
              // background-color: #fff;
               color: #6d6d6d;
               //border-radius: 50%;
               justify-content: center;
               align-items: center;
               font-size: 1.7em;
           }
           .item-component{
               margin: 0 10px;
               h3{
                   font-family: $font2;
                   font-weight: bold;
               }
               p{
                   font-family: $font1;
                   width: 70%;
                   text-align: justify;
               }
           }
       }
   }*/
}
.Todo .grid-parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.Todo .grid-parent .div1 {
  grid-area: 1/1/2/2;
}
.Todo .grid-parent .div1 .icon {
  color: #C5FF95;
}
.Todo .grid-parent .div2 {
  grid-area: 1/2/2/3;
}
.Todo .grid-parent .div2 .icon {
  color: #8576FF;
}
.Todo .grid-parent .div3 {
  grid-area: 1/3/2/4;
}
.Todo .grid-parent .div3 .icon {
  color: #FA7070;
}
.Todo .grid-parent .div4 {
  grid-area: 2/1/3/2;
}
.Todo .grid-parent .div4 .icon {
  color: #9DBC98;
}
.Todo .grid-parent .div5 {
  grid-area: 2/2/3/3;
}
.Todo .grid-parent .div5 .icon {
  color: #7FC7D9;
}
.Todo .grid-parent .div6 {
  grid-area: 2/3/3/4;
}
.Todo .grid-parent .div6 .icon {
  color: #FFFFDD;
}
.Todo .grid-parent .item {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.Todo .grid-parent .item .icon {
  font-size: 1.7em;
  margin-right: 10px;
}
.Todo .grid-parent .item .item-component {
  margin: 0 10px;
}
.Todo .grid-parent .item .item-component h3 {
  font-family: "Noto Sans";
  font-weight: bold;
}
.Todo .grid-parent .item .item-component p {
  font-family: "lato";
  width: 70%;
  text-align: justify;
}

.Skills {
  padding: 2em 10em;
}
.Skills .skills-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.Skills .skills-container {
  padding: 1em 1em 0 1em;
  border: 1px solid rgba(255, 255, 255, 0.5058823529);
  border-radius: 10px;
}
.Skills .skills-container .chip {
  padding: 3px 7px;
  background-color: #4a4a4a;
  color: #fff;
  font-family: "Roboto";
  border-radius: 10px;
  font-size: 15px;
}

.Projects {
  margin: 1em 0em;
}
.Projects .shwocase-row {
  margin: 2em 0;
}
.Projects .card .card-title {
  text-align: center;
}
.Projects .card .card-text {
  color: #6d6d6d;
}
.Projects .card img {
  width: 100%;
  height: 25vh;
  -o-object-fit: cover;
     object-fit: cover;
}
.Projects .card .gobtn {
  display: flex;
  justify-content: center;
}
.Projects .card .gobtn a {
  text-decoration: none;
  color: #161616;
  border: 1px solid #6d6d6d;
  border-radius: 12px;
  padding: 7px 18px;
  transition: 0.4s;
}
.footer {
  width: 100%;
  display: flex;
  align-items: normal;
  text-align: left;
  flex-direction: column;
  margin: 1em 0;
  background-color: #1a1a1a;
  opacity: 0.8;
  background-image: radial-gradient(#5f5c5c 0.5px, transparent 0.5px), radial-gradient(#5f5c5c 0.5px, #1a1a1a 0.5px);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
  padding: 5em 0;
}
.footer h3 {
  margin: 0 3.4em;
  color: #fff;
}
.footer .listitems {
  margin: 25px 3em;
  text-align: start;
}
.footer .listitems li {
  text-decoration: none;
  list-style: none;
  margin: 20px 0;
}
.footer .listitems li::before {
  content: "◻";
  margin: 0 10px;
}
.footer .listitems li a {
  text-decoration: none;
  color: #fff;
  font-family: "lato";
}/*# sourceMappingURL=main.css.map */