.Skills{
    padding: 2em 10em;
    .skills-row{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .skills-container{
        padding: 1em 1em 0 1em;
        border: 1px solid #ffffff81;
        border-radius: 10px;
        .chip{
            padding: 3px 7px;
            background-color: #4a4a4a;
            color: #fff;
            font-family: $font3;
            border-radius: 10px;
            //font-weight: bold;
            font-size: 15px;
            
        }
    }
}